# racecars user defaults
# format: key=value (same names as CLI, without leading "--")
# precedence: code defaults < this file < CLI < GUI

players=2
width=150
height=100
track_width_mean=6
track_width_var=2
framerate=0
seed=None
measure=off

car_collision_penalty=on
shuffle_turn_order=on
strict_target_check=on
penalty_length=fatal

track=rectangular_zigzag
start
