# racecars user defaults
# format: key=value (same names as CLI, without leading "--")
# precedence: code defaults < this file < CLI < GUI

start=true

width=200
height=150
track_width_mean=6
track_width_var=2
framerate=0
seed=None
measure=true

car_collision_penalty=true
shuffle_turn_order=true
strict_target_check=true
penalty_length=2

track=rectangular_zigzag